<%- include('./header.ejs', {path: '../'}); %>
</header>

<img src="./images/back-about.png">

<div class="section section-pad section-bg-zinnia" id="partners">
   <div class="container" style="margin-top: 60px; margin-bottom: 60px;">
      <div class="row text-center">
         <div class="col">
            <div class="section-head">
               <h2 style="color: #3c3c3c;"class=" section-title animated fadeInUp" data-animate="fadeInUp" data-delay="0" style="visibility: visible;">
                  О КОМПАНИИ
                  <span class="fancy">ZALKAR
                  </span>
               </h2>
            </div>
         </div>
      </div>
      <div style="color: #3c3c3c;">
         <span style="font-size: 18px; font-weight: 600">ОсОО «ZALKAR Строй Инжиниринг»</span> было создано 2010 году с целью внесения повсеместного вклада экономическое развитие Кыргызской Республики и инвестирования в экономику страны как коммерческая организация.
         Строительная компания «ZALKAR Строй Инжиниринг» (ZALKAR) – это строительство зданий от премиума до элитного класса (Лицензия КРЦ-1-2 №03863 от 6 июня 2011 года). Главной линией деятельности ZALKAR является градостроительство, проектно-изыскательные работы жилых, общественных и производственных зданий и сооружений, строительство различных зданий, крупномасштабными целями и эксплуатацией инфраструктуры. ZALKAR также выполняет изысканные и экстравагантные, небольшие и средние, специальные проекты для своих VIP-клиентов.
         Хотя мы работаем в основном в городе Бишкек, через нашу обширную сеть партнеров, наши ресурсы и опыт используются в различных проектах, охватывающих все регионы Кыргызской Республики.
         <br>
         <br>
         <span style="font-size: 18px; font-weight: 600">МИССИЯ</span>
         Наша миссия предоставить исключительную ориентированную на клиента строительную услугу, творчески управляя тремя традиционными переменными строительства Время, Цена и Качество.
         <br>
         <br>
         <span style="font-size: 18px; font-weight: 600">ВИДЕНИЕ</span>
         Наше видение ZALKAR состоит в том, чтобы превратить его в одну из успешных строительных компаний в стране, создав образцовую модель бизнес-строительства, которая работает рука об руку с клиентом на основе доверия и взаимной выгоды, в целях достижения наилучших результатов не только в обычном строительстве, но и в области инженерных решений, отвечающих требованиям времени.
         <br>
         <br>
         <span style="font-size: 18px; font-weight: 600">СФОКУСИРОВАННОСТЬ НА КЛИЕНТА</span>
         ZALKAR — это прежде всего ориентированность на нашего клиента. Наша команда поддерживает постоянный ежедневный контакт с нашими клиентами, гарантируя своевременное удовлетворение потребностей каждого клиента и их представителей и устранение задержек, связанных с бюрократическими процедурами.
         ZALKAR убежден, что для того, чтобы предлагать действительно эффективный сервис, необходимо все больше полагаться на технологии.
         Несмотря на то, что многие строительные компании по-прежнему работают по традиционной модели бизнеса, мы поддерживаем технологическое продвижение и считаем, что это служит нашей конечной цели — предоставить заказчику необычайную строительную услугу.
         <br>
         <br>
         <span style="font-size: 18px; font-weight: 600">СТРОИТЕЛЬНЫЕ УСЛУГИ</span>
         Наша основная линия услуг это прямое контрактование строительных услуг, и наша сфера работы является всеобъемлющей от демаркации и мобилизации до самых подробных отделочных работ.
         Мы полагаем, что основной подрядчик должен быть основным подрядчиком, а не брокером, и именно по этой причине мы избегаем чрезмерного использования субподрядчиков, за исключением тех случаев, когда специализация принесет клиенту качество и выгоду. Где мы полагаемся на субподрядчиков, мы гарантируем, что они являются одними из лучших в отрасли.
         Мы также считаем, что снижение зависимости от субподрядчиков не только помогает контролировать график работы, время реализации проекта, но также помогает поддерживать контроль качества и подотчетность.
         Мы работаем рука об руку с нашими клиентами, чтобы обеспечить достижение желаемых целей.
         ZALKAR – Пространство новой жизни!
      </div>
   </div>
</div>
<%- include('./footer.ejs', {path: '../'}); %>