      <div style="background-image: url(./images/footer-back.png);" class="section footer-scetion ">
       
         <div class="gaps size-2x d-none d-sm-block"></div>
         <div style="color: black; font-size:18px;" class="container">
            <div class="row justify-content-center">
             
               <!-- .col  -->
               <div class="col-sm-3 col-lg-2 res-l-bttm">
                  <ul class="link-widget one-column animated" data-animate="fadeInUp" data-delay=".3">
                     <strong><li>КОНТАКТЫ</li></strong>
                     <li style="font-size: 14px;">+996 550 550 550</li>
                     <li style="font-size: 14px;">+996 507 550 550</li>
                  </ul>
               </div>
               <!-- .col  -->
               <div class="col-sm-3 col-lg-3 res-l-bttm">
                  <ul class="link-widget one-column animated" data-animate="fadeInUp" data-delay=".4">
                     <strong><li>ОФИС ПРОДАЖ</li></strong>
                     <li>ул. Ахунбаева, 173а, офис 1 перес.ул.Табалдиева</li>
                  </ul>
               </div>

               <div class="col-sm-3 col-lg-2 res-l-bttm">
                  <div style="text-align: margin-left: -50px;">
                  <img  src="./images/footer-logo.png">
                  </div>
               </div>
               <!-- .col  -->
               <div class="col-sm-3 col-lg-3">
                  <ul class="address-widget animated" data-animate="fadeInUp" data-delay=".5">
                     <strong><li style="font-size: 14px;">АДРЕС  ОБЬЕКТА</li></strong>
                     <li  style="font-size: 14px;">ул. Ахунбаева 169/1, ,  на перес. с ул.Токтоналиева(Душанбинская)</li>
                  </ul>
               </div>
                <div class="col-sm-3 col-lg-2">
                     Социальные сети
                     <br>
                     <a href="https://www.facebook.com/zalkar" target="_blank"><em style="font-size: 30px; padding-right: 10px; color: white;" class="fab fa-facebook-f"></em></a>
                     <a href="https://www.youtube.com/watch?v=4hW1EiFtIIQ" target="_blank"><em style="font-size: 30px; padding-right: 10px; color: white;" class="fab fa-youtube"></em></li>
                     <a href="https://www.instagram.com/zalkar_stroy_engineering/" target="_blank"><em style="font-size: 30px; padding-right: 10px; color: white;" class="fab fa-instagram"></em></a>
               </div>
            </div>
            <!-- .row  -->
         </div>
         <!-- .container  -->
         <div class="gaps size-2x"></div>
      </div>
      <!-- End Section --><!-- Preloader !remove please if you do not want -->
      <div id="preloader">
         <div id="loader"></div>
         <div class="loader-section loader-top"></div>
         <div class="loader-section loader-bottom"></div>
      </div>
      <a target="_blank" href="https://web.whatsapp.com/send?phone=+996550550550&text=%D0%97%D0%B4%D1%80%D0%B0%D0%B2%D1%81%D1%82%D0%B2%D1%83%D0%B9%D1%82%D0%B5"><img class="fixed_whats" src="./images/whatsapp_icon.png"></a>
      <!-- Preloader End --><!-- JavaScript (include all script here) --><script src="assets/js/jquery.bundlee222.js?ver=142"></script><script src="assets/js/scripte222.js?ver=142"></script>
      <!-- BEGIN JIVOSITE CODE {literal} -->
      <script type='text/javascript'>
      (function(){ var widget_id = 'LeJcE1bzwp';var d=document;var w=window;function l(){var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true;s.src = '//code.jivosite.com/script/widget/'+widget_id; var ss = document.getElementsByTagName('script')[0]; ss.parentNode.insertBefore(s, ss);}if(d.readyState=='complete'){l();}else{if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})();
      </script>
    

   </body>
   <!-- Mirrored from demo.themenio.com/ico/index-lavender-particle-animate.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 09 Nov 2018 09:12:08 GMT -->
</html>