<%- include('./header.ejs', {path: '../'}); %>
</header>

   <img src="./images/back-friends.png">
   <div class="head-name">
      <div class="container" style="margin-bottom: 60px;">
       
   </div>
   </div>

   <div class="section section-pad section-bg-zinnia" id="partners">
    <div class="container" style="margin-top: 60px; margin-bottom: 60px;">
      <div class="row text-center">
         <div class="col">
            <div class="section-head">
               <h2 style="color: #3c3c3c;"class=" section-title animated fadeInUp" data-animate="fadeInUp" data-delay="0" style="visibility: visible;">

                  ПАРТНЕРЫ
                  <span class="fancy">ZALKAR
                  </span>
               </h2>
            </div>
         </div>
      </div>
        <div class="partner-list">
            <div class="row text-center">
                <div class="col-sm col-6">
                    <div class="single-partner animated fadeInUp" data-animate="fadeInUp" data-delay=".2" style="visibility: visible; animation-delay: 0.2s;"><img src="images/friend-1.jpg" alt="partner"></div>
                </div>
                <div class="col-sm col-6">
                    <div class="single-partner animated fadeInUp" data-animate="fadeInUp" data-delay=".3" style="visibility: visible; animation-delay: 0.3s;"><img src="images/friend-2.jpg" alt="partner"></div>
                </div>
            </div>
            
        </div>
    </div>
</div>

<%- include('./footer.ejs', {path: '../'}); %>