<!DOCTYPE html>
<html lang="zxx" class="js">
   <head>
      <meta charset="utf-8">
      <meta name="author" content="">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta name="description" content="">
      <!-- Fav Icon -->
      <link rel="shortcut icon" href="images/icon.png">
      <!-- Site Title  -->
      <title>ZALKAR Строй Инжиниринг</title>
      <!-- Vendor Bundle CSS -->
      <link rel="stylesheet" href="assets/css/vendor.bundlee222.css?ver=142">
      <!-- Custom styles for this template -->
      <link rel="stylesheet" href="assets/css/stylee222.css?ver=142">
      <link rel="stylesheet" href="assets/css/themee222.css?ver=142" id="layoutstyle">
      <link rel="stylesheet" href="assets/css/custom.css">


      <link rel="stylesheet" href="./assets/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script src="./assets/js/popper.min.js"></script>
      <script src="./assets/js/bootstrap.min.js"></script>
      <!-- Yandex.Metrika counter -->
         <script type="text/javascript" >
             (function (d, w, c) {
                 (w[c] = w[c] || []).push(function() {
                     try {
                         w.yaCounter51069182 = new Ya.Metrika2({
                             id:51069182,
                             clickmap:true,
                             trackLinks:true,
                             accurateTrackBounce:true,
                             webvisor:true
                         });
                     } catch(e) { }
                 });

                 var n = d.getElementsByTagName("script")[0],
                     s = d.createElement("script"),
                     f = function () { n.parentNode.insertBefore(s, n); };
                 s.type = "text/javascript";
                 s.async = true;
                 s.src = "https://mc.yandex.ru/metrika/tag.js";

                 if (w.opera == "[object Opera]") {
                     d.addEventListener("DOMContentLoaded", f, false);
                 } else { f(); }
             })(document, window, "yandex_metrika_callbacks2");
         </script>
         <noscript><div><img src="https://mc.yandex.ru/watch/51069182" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
         <!-- /Yandex.Metrika counter -->
   </head>
   <body style="overflow: hidden;" class="theme-lavendar io-lavendar" data-spy="scroll" data-target="#mainnav" data-offset="80">
      <!-- Header --> 
      <div class="dark-box">
      </div>
      <header style="z-index: 1010;" class="site-header is-sticky">
         <!-- Place Particle Js -->
         <div id="particles-js" class="particles-container particles-js"></div>
         <!-- Navbar -->
         <div class="navbar navbar-expand-lg is-transparent" id="mainnav">
            <nav class="container">
               <a class="navbar-brand animated" data-animate="fadeInDown" data-delay=".65" href="/"><img class="logo logo-dark" alt="logo" src="images/logo.png" srcset="images/logo.png 2x"><img class="logo logo-light" alt="logo" src="images/logo-full-white.png" srcset="images/logo-full-white.png 2x"></a><button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle"><span class="navbar-toggler-icon"><span class="ti ti-align-justify"></span></span></button>
               <div class="collapse navbar-collapse justify-content-end" id="navbarToggle">
                  <ul class="navbar-nav animated remove-animation" data-animate="fadeInDown" data-delay=".75">
                     <li class="nav-item"><a class="nav-link menu-link" href="/">Главная</a></li>
                     <li class="nav-item"><a class="nav-link menu-link" href="/friends">ПАРТНЕРЫ</a></li>
                     <li class="nav-item"><a class="nav-link menu-link" href="/about">О КОМПАНИИ</a></li>
                     <li class="nav-item"><a class="nav-link menu-link" href="/news">НОВОСТИ</a></li>
                     <li class="nav-item"><a class="nav-link menu-link" href="/contacts">КОНТАКТЫ</a></li>

                     
                  </ul>
               </div>
            </nav>
         </div>