
<%- include('./header.ejs', {path: '../'}); %>
</header>
<!-- End Navbar --><!-- Banner/Slider -->
   <div id="myCarousel" class="center-slide carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ul class="carousel-indicators">

         <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
         <li data-target="#myCarousel" data-slide-to="1"></li>
         <li data-target="#myCarousel" data-slide-to="2"></li>
      </ul>

      <!-- The slideshow -->
      <div class="carousel-inner">
         <div class="slide-text">
            <h1 style="text-align: center; font-size: 80px; text-shadow: 2px 2px black;">
               ZALKAR
            </h1>
            <p style="text-align: center; font-size: 40px; text-shadow: 1px 1px black;">
              ПРОСТРАНСТВО НОВОЙ ЖИЗНИ
            </p>
         </div>
         <div class="carousel-item active">
            <img src="./images/wall-11.png" alt="Los Angeles" >
         </div>
   
         <div class="carousel-item">
            <img src="./images/wall-10.png" alt="Chicago" >
         </div>
         <div class="carousel-item">
            <img src="./images/wall-8.png" alt="Chicago" >
         </div>
      </div>
   </div>
<div style="color: #8694b2;" class="section about-section section-pad no-pb section-bg-light" id="about">
   <div class="container">
      <div class="row">
         <div class="col-lg-7">
            <div class="about-section-innr section-bg-lavendar">
               <div class="about-shade"></div>
               <h2 class="animated" data-animate="fadeInUp" data-delay=".2">ОсОО «ZALKAR Строй Инжиниринг»</h2>
               <p class="animated" data-animate="fadeInUp" data-delay=".4">было создано 2010 году с целью внесения повсеместного вклада экономическое развитие Кыргызской Республики и инвестирования в экономику страны как коммерческая организация.

Строительная компания «ZALKAR Строй Инжиниринг» (ZALKAR) – это строительство зданий от премиума до элитного класса (Лицензия КРЦ-1-2 №03863 от 6 июня 2011 года). Главной линией деятельности ZALKAR является градостроительство, проектно-изыскательные работы жилых, общественных и производственных зданий и сооружений, строительство различных зданий, крупномасштабными целями и эксплуатацией инфраструктуры. ZALKAR также выполняет изысканные и экстравагантные, небольшие и средние, специальные проекты для своих VIP-клиентов. Хотя мы работаем в основном в городе Бишкек, через нашу обширную сеть партнеров, наши ресурсы и опыт используются в различных проектах, охватывающих все регионы Кыргызской Республики.</p>
               
            </div>
         </div>
         <div class="col-lg-5">
            <div class="about-image animated" data-animate="fadeInUp" data-delay=".8"><img src="images/item2.jpg" alt="graph"></div>
         </div>
      </div>
   </div>
</div>


<div class="section section-pad section-bg section-pro">
   <div class="container">
      <div class="row text-center">
         <div class="col-lg-8 offset-lg-2">
            <div class="section-head-s2">
               <h3 class="heading-xs animated" data-animate="fadeInUp" data-delay=".0" style="color: #313c56;">ПОЧЕМУ ВЫБИРАЮТ ZALKAR</h3>
               </div>
         </div>
         <!-- .col  -->
      </div>
      <!-- .row  -->
      <div class="row text-center">
         <div class="col-md-3">
            <div class="features-box animated" data-animate="fadeInUp" data-delay=".2">
               <img src="images/rec-icon11.png" alt="features">
                <h6 style="color: #313c56; margin-top: 20px;">20 ЛЕТ НА СТРОИТЕЛЬНОМ РЫНКЕ</h6>
               <p style="color: #191967;">Создано с целью внесения повсеместного вклада экономическое развитие Кыргызской Республики</p>
            </div>
         </div>
         <!-- .col  -->
         <div class="col-md-3">
            <div class="features-box animated" data-animate="fadeInUp" data-delay=".3">
               <img src="images/rec-icon12.png" alt="features">
                <h6 style="color: #313c56; margin-top: 20px;">50 ТЫС КВ.М ПОСТРОЕННОГО ЖИЛЬЯ</h6>
               <p style="color: #191967;">«ZALKAR Строй Инжиниринг» (ZALKAR) – это строительство зданий от премиума до элитного класса</p>
            </div>
         </div>
         <!-- .col  -->
         <div class="col-md-3">
            <div class="features-box animated" data-animate="fadeInUp" data-delay=".4">
               <img src="images/rec-icon9.png" alt="features">
               <h6 style="color: #313c56; margin-top: 20px;">БОЛЬШОЙ ОПЫТ В СТРОИТЕЛЬСТВЕ</h6>
               <p style="color: #191967;">Наши ресурсы и опыт используются в различных проектах, охватывающих все регионы Кыргызской Республики</p>
            </div>
         </div>
         <!-- .col  -->
         <!-- .col  -->
         <div class="col-md-3">
            <div class="features-box animated" data-animate="fadeInUp" data-delay=".4">
               <img src="images/rec-icon10.png" alt="features">
               <h6 style="color: #313c56; margin-top: 20px;">СФОКУСИРОВАННОСТЬ НА КЛИЕНТА</h6>
               <p style="color: #191967;">Мы работаем рука об руку с нашими клиентами, чтобы обеспечить достижение желаемых целей</p>
            </div>
         </div>
         <!-- .col  -->

      </div>
      <!-- .row  -->
      <!-- .row  -->
   </div>
   <!-- .conatiner  -->
   <!-- .mask overlay -->
</div>


<!-- End Section --><!-- Start Section -->
  <div class="section section-pad section-bg section-pro">
   <div class="container" id="item">
       <div class="row justify-content-center">
         <div class="col-lg-6">
            <div class="section-head-s5 text-center">
               <h2 style="color: #313c56;" class="section-title animated" data-animate="fadeInUp" data-delay=".0">ПОСТРОЕННЫЕ ОБЪЕКТЫ</h2>
               <p class="animated" data-animate="fadeInUp" data-delay=".1"</p>
            </div>
         </div>
      </div>
      <!-- .row  -->
      <div class="row text-center">
         <div class="col-md-4">
           <div class="blog-item">
             <div class="">
                     <a href="/item1"><img src="images/item1.jpg" alt="blog-photo"></a>
                 </div>
                 <div class="">
                     <p style="color: black;">Жилой комплекс «Юг-7» - это современный и комфортабельный комплекс, который предлагает Вам 1-,2-,3-, 4-х комнатные ...</p>
                 </div>
             </div>
         </div>
         <div class="col-md-4">
           <div class="blog-item">
             <div class="">
                     <a href="/item2"><img src="images/item2.jpg" alt="blog-photo"></a>
                 </div>
                 <div class="">
                     <p style="color: black;">Жилой дом «Залкар» – это квартиры различных планировочных решений, полностью укомплектованных по всем ...</p>
                 </div>
             </div>
         </div>
        
      </div>
      <!-- .row  -->
   </div>

<div class="section section-pad section-bg-muscari section-muscari" id="apps">
   <div class="overlay-bars">
      <div class="overlay-bar-1"></div>
      <div class="overlay-bar-2"></div>
      <div class="overlay-bar-3"></div>
      <div class="overlay-bar-4"></div>
      <div class="overlay-bar-5"></div>
      <div class="overlay-bar-6"></div>
      <div class="overlay-bar-7"></div>
   </div>
   <div class="container">
      <div class="row justify-content-center">
         <div class="col-lg-6">
            <div class="section-head-s5 text-center">
               <h2 class="section-title animated fadeInUp" data-animate="fadeInUp" data-delay=".0" style=" color: #373e45; visibility: visible; animation-delay: 0s;">ЛИЦЕНЗИИ КОМПАНИИ</h2>
            </div>
         </div>
      </div>
      <div class="row align-items-center">
         <div class="col-md-6 res-m-btm">
            <div class="text-block">
              <h4 style="color: #191967;">
                ЗАЛКАР СТРОЙ ИНЖИНИРИНГ
              </h4>
               <p style="color: #191967;" class="lead animated fadeInUp" data-animate="fadeInUp" data-delay=".0" style="visibility: visible; animation-delay: 0s;">ОсОО «ZALKAR Строй Инжиниринг» было создано с целью внесения повсеместного вклада экономическое развитие Кыргызской Республики и инвестирования в экономику страны как коммерческая организация.

Строительная компания «ZALKAR Строй Инжиниринг» (ZALKAR) – это строительство зданий от премиума до элитного класса (Лицензия КРЦ-1-2 №03863 от 6 июня 2011 года). Главной линией деятельности ZALKAR является градостроительство, проектно-изыскательные работы жилых, общественных и производственных зданий и сооружений, строительство различных зданий, крупномасштабными целями и эксплуатацией инфраструктуры.</p>
            
              
            </div>
         </div>
         <!-- .col  -->
         <div class="col-md-3">
            <div class="animated fadeInUp" data-animate="fadeInUp" data-delay=".4" style="visibility: visible; animation-delay: 0.4s;">
              <img src="images/file.jpg" alt="app">

            </div>
         </div>
         <div class="col-md-3">
            <div class="animated fadeInUp" data-animate="fadeInUp" data-delay=".4" style="visibility: visible; animation-delay: 0.4s;">
              <img src="images/file2.jpg" alt="app">

            </div>
         </div>
         <!-- .col  -->
      </div>
      <!-- .row  -->
   </div>
   <!-- .container  -->
</div>

<div class="section media-scetion no-pb section-pad section-bg-light" id="media">
         <div class="container">
            <div class="section-head-s3 text-center">
               <h2 class="section-title animated" data-animate="fadeInUp" data-delay=".1">Новости</h2>
            </div>
            <div class="has-carousel animated" data-animate="fadeInUp" data-delay=".2" data-items="3" data-dots="true" data-navs="false">
               <div class="media-box">
                  <h5 class="media-heading"><a href="#">Старт продаж квартир</a></h5>
                  <p>СК «Залкар Строй Инжинииринг» объявляет старт продаж квартир ЖК «ZALKAR» по ул.Ахунбаева-Душанбинского. О% рассрочка без переплат! Т: 0550-550-550</p>
               </div>
               <div class="media-box">
                  <h5 class="media-heading"><a href="#">Начало строительства жилого дома «Zalkar»</a></h5>
                  <p>Начались работы по рытью котлована! Успейте купить квартиру с котлована по выгодной цене! О% рассрочка без переплат! Т: 0550-550-550</p>
               </div>
               
            </div>
         </div>
      </div>
   <!-- .conatiner  -->
   <div class="mask-ov-right mask-ov-s2"></div>
   <!-- .mask overlay -->
</div>
<%- include('./footer.ejs', {path: '../'}); %>