<!DOCTYPE html>
<html lang="zxx" class="js">
   <!-- Mirrored from demo.themenio.com/ico/index-muscari-particle-animate.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 25 Oct 2018 19:43:39 GMT -->
   <head>
      <meta charset="utf-8">
      <meta name="author" content="Softnio">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta name="description" content="ОсОО «ZALKAR Строй Инжиниринг»
было создано 2010 году с целью внесения повсеместного вклада экономическое развитие Кыргызской Республики и инвестирования в экономику страны как коммерческая организация.">
      <!-- Fav Icon -->
      <link rel="shortcut icon" href="images/icon.png">
      <!-- Site Title  -->
      <title>ZALKAR СТРОЙ</title>
      <!-- Vendor Bundle CSS -->
      <link rel="stylesheet" href="assets/css/vendor.bundlee222.css?ver=142">
      <!-- Custom styles for this template -->
      <link rel="stylesheet" href="assets/css/stylee222.css?ver=142">
      <link rel="stylesheet" href="assets/css/custom.css">

      <link rel="stylesheet" href="assets/css/themee222.css?ver=142" id="layoutstyle">
   </head>
   <body class="theme-muscari io-mascari" data-spy="scroll" data-target="#mainnav" >
      <!-- Header --> 
     <header class="site-header is-sticky">
         <!-- Place Particle Js -->
         <div id="particles-js" class="particles-container particles-js"></div>
         <!-- Navbar -->
        <div class="navbar navbar-expand-lg is-transparent" id="mainnav">
            <nav class="container">
               <a class="navbar-brand animated" data-animate="fadeInDown" data-delay=".65" href="index.html"><img class="logo logo-dark" alt="logo" src="images/logo.png" srcset="images/logo2x.png 2x"><img class="logo logo-light" alt="logo" src="images/logo-full-white.png" srcset="images/logo-full-white2x.png 2x"></a>
               
               <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle"><span class="navbar-toggler-icon"><span class="ti ti-align-justify"></span></span></button>
               <div class="collapse navbar-collapse justify-content-end" id="navbarToggle">
                  <ul class="navbar-nav animated remove-animation" data-animate="fadeInDown" data-delay=".9">
                     <li class="nav-item"><a class="nav-link menu-link" href="/">Главная<span class="sr-only">(current)</span></a></li>
                     <li class="nav-item"><a class="nav-link menu-link" href="/#about">О компании</a></li>
                     <li class="nav-item"><a class="nav-link menu-link" href="/#item">Обьекты</a></li>
                     <li class="nav-item"><a class="nav-link menu-link" href="#contact">Контакты</a></li>
                  </ul>
                 
               </div>
            </nav>
         </div>
         <!-- End Navbar --><!-- Banner/Slider -->
         <div id="header" class="banner banner-zinnia">
            <div class="ui-shape ui-shape-light ui-shape-header"></div>
            <div class="container">
               <div class="building-pad">
                  <div class="row align-items-center text-center justify-content-center">
                     <div class="col-sm-10 col-md-12 col-lg-10">
                        <div class="header-txt tab-center mobile-center">
                           <h1 class="animated" data-animate="fadeInUp" data-delay="1.25">«ЗАЛКАР»<br>ЖИЛОЙ ДОМ С САМОЙ РАЗВИТОЙ ИНФРАСТРУКТУРОЙ РАЙОНА</h1>
                           <div class="gaps size-1x d-none d-md-block"></div>
                           <p class="lead animated" data-animate="fadeInUp" data-delay="1.35">Это квартиры различных планировочных решений<br class="d-none d-sm-block">полностью укомплектованных по всем современным стандартам. </p>
                          
                        </div>
                     </div>
                     <!-- .col  -->
                  </div>
                  <!-- .row  -->
               </div>
               <!-- .banner-content  -->
            </div>
            <!-- .container  -->
            
         </div>
         <!-- End Banner/Slider -->
         
         <!-- .presale-box  -->
      </header>
      <!-- End Header --><!-- Start Section -->
     
      <!-- End Section --><!-- Start Section -->
  

      <!-- End Header --><!-- Start Section -->
      <div class="section section-bg-transparent">
         <div class="container">
            <!-- .row  -->
            <div class="row align-items-center">
               <div class="col-md-5 offset-md-1">
                  <div class="res-m-btm animated" data-animate="fadeInUp" data-delay=".1"><img src="images/item2.jpg" alt="graph"></div>
               </div>
               <!-- .col  -->
               <div class="col-md-6 order-md-first order-last">
                  <div class="text-block">
                     <h2 class="animated" data-animate="fadeInUp" data-delay=".2">Жилой дом «Залкар»</h2>
                     <p class="lead animated" data-animate="fadeInUp" data-delay=".3">Это квартиры различных планировочных решений, полностью укомплектованных по всем современным стандартам. При планировке дома, предусмотрена вся необходима инфраструктура.

Чистый воздух, тишина — неоспоримые удобства, которые наряду с современной жилой инфраструктурой сделают жизнь в комплексе комфортной и желанной.

Оптимальное соотношение цены и качества.
Уникальная инфраструктура и удобное расположение Вашего дома отвечает всем требованиям Вашего ритма жизни.
</p>
                  </div>
               </div>
               <!-- .col  -->
            </div>
            <!-- .row  -->
         </div>
             <div class="custon-pad container">
            <div class="row text-center">
               <div class="col-md-4">
                  <div class="features-box animated" data-animate="fadeInUp" data-delay=".2">
                     <img src="images/elem1.png" alt="features">
                      <h5 style="color: #313c56;">1 комнатная квартира 45,3кв.м</h5>
                  </div>
               </div>
               <!-- .col  -->
               <div class="col-md-4">
                  <div class="features-box animated" data-animate="fadeInUp" data-delay=".3">
                     <img src="images/elem2.png" alt="features">
                      <h5 style="color: #313c56;">2х комнатная квартира 71,1кв.м</h5>
                  </div>
               </div>
               <!-- .col  -->
               <div class="col-md-4">
                  <div class="features-box animated" data-animate="fadeInUp" data-delay=".4">
                     <img src="images/elem3.png" alt="features">
                     <h5 style="color: #313c56;">3х комнатная квартира 143,2кв.м</h5>
                  </div>
               </div>
               <!-- .col  -->
            </div>
            <!-- .row  -->
            <!-- .row  -->
         </div>
         <!-- .conatiner  -->
      </div>


<div class="section section-pad section-bg" id="benifits">
   <div class="container">
      <div class="row">
         <div class="col-lg-6">
            <div class="section-head-s6">
               <h6 class="heading-sm-s2 animated fadeInUp" data-animate="fadeInUp" data-delay=".1" style="visibility: visible; animation-delay: 0.1s;">Почему Жилой дом «Залкар»?</h6>
               <h2 class="section-title-s6 animated fadeInUp" data-animate="fadeInUp" data-delay=".2" style="visibility: visible; animation-delay: 0.2s;">ПРЕИМУЩЕСТВА</h2>
               <p class="animated fadeInUp" data-animate="fadeInUp" data-delay=".3" style="visibility: visible; animation-delay: 0.3s;">Это квартиры различных планировочных решений, полностью укомплектованных по всем современным стандартам.</p>
            </div>
            <div class="gaps size-1x"></div>
            <div class="gaps size-2x d-none d-md-block"></div>
         </div>
      </div>
      <div class="row mb--x8">
         <div class="col-lg-6">
            <div class="benefits-item animated fadeInUp" data-animate="fadeInUp" data-delay=".4" style="visibility: visible; animation-delay: 0.4s;">
               <div class="benefits-icon"><img src="images/icon-d.png" alt="icon"></div>
               <div class="benefits-txt">
                  <p>Lorem ipsum — классическая панграмма, условный, зачастую бессмысленный текст-заполнитель, вставляемый в макет страницы.</p>
               </div>
            </div>
         </div>
         <!-- .col -->
         <div class="col-lg-6">
            <div class="benefits-item animated fadeInUp" data-animate="fadeInUp" data-delay=".5" style="visibility: visible; animation-delay: 0.5s;">
               <div class="benefits-icon"><img src="images/icon-e.png" alt="icon"></div>
               <div class="benefits-txt">
                  <p>Lorem ipsum — классическая панграмма, условный, зачастую бессмысленный текст-заполнитель, вставляемый в макет страницы.</p>
               </div>
            </div>
         </div>
         <!-- .col -->
         <div class="col-lg-6">
            <div class="benefits-item animated fadeInUp" data-animate="fadeInUp" data-delay=".6" style="visibility: visible; animation-delay: 0.6s;">
               <div class="benefits-icon"><img src="images/icon-f.png" alt="icon"></div>
               <div class="benefits-txt">
                  <p>Lorem ipsum — классическая панграмма, условный, зачастую бессмысленный текст-заполнитель, вставляемый в макет страницы.</p>
               </div>
            </div>
         </div>
         <!-- .col -->
         <div class="col-lg-6">
            <div class="benefits-item animated fadeInUp" data-animate="fadeInUp" data-delay=".7" style="visibility: visible; animation-delay: 0.7s;">
               <div class="benefits-icon"><img src="images/icon-g.png" alt="icon"></div>
               <div class="benefits-txt">
                  <p>Lorem ipsum — классическая панграмма, условный, зачастую бессмысленный текст-заполнитель, вставляемый в макет страницы.</p>
               </div>
            </div>
         </div>
         <!-- .col -->
      </div>
   </div>
</div>
   
 <div class="section section-pad section-bg section-pro">
         <div class="container">
            <div class="row text-center">
               <div class="col-md-4">
                 <div class="blog-item">
                   <div class="">
                           <img src="images/i3.jpg" alt="blog-photo">
                       </div>
                   </div>
               </div>
              <div class="col-md-4">
                 <div class="blog-item">
                   <div class="">
                           <img src="images/i1.jpg" alt="blog-photo">
                       </div>
                   </div>
               </div>
               <div class="col-md-4">
                 <div class="blog-item">
                   <div class="">
                        <img src="images/i4.jpg" alt="blog-photo">
                       </div>
                   </div>
               </div>
               <div class="col-md-4">
                 <div class="blog-item">
                   <div class="">
                        <img src="images/i5.jpg" alt="blog-photo">
                       </div>
                   </div>
               </div>
               <div class="col-md-4">
                 <div class="blog-item">
                   <div class="">
                           <img src="images/i6.jpg" alt="blog-photo">
                       </div>
                   </div>
               </div>
            </div>
            <!-- .row  -->
         </div>
         <!-- .conatiner  -->
         <div class="mask-ov-right mask-ov-s2"></div>
         <!-- .mask overlay -->
      </div>

     
 
      <!-- End Section --><!-- Start Section -->
      <div style="padding-bottom: 150px;" class="section section-pad section-bg-light section-angle-bottom contact-section" id="contact">
         <div class="section-bg-angle section-bg-light-alt"></div>
         <div class="container">
            <div class="row justify-content-center">
               <div class="col-lg-6">
                  <div class="section-head-s5 text-center">
                     <h2 class="section-title animated" data-animate="fadeInUp" data-delay="0">Контакты</h2>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-lg-4 offset-lg-1">
                  <div class="gaps"></div>
                  <p class="animated" data-animate="fadeInUp" data-delay=".1">ул. Ахунбаева, дом 173а, офис 1,  на пересечении с ул.Табалдиева.
</p>
                  <ul class="contact-info-alt">
                     <li class="animated" data-animate="fadeInUp" data-delay=".2"><em class="fa fa-phone"></em><span>+996 550 550 550</span></li>
                     <li class="animated" data-animate="fadeInUp" data-delay=".2"><em class="fa fa-phone"></em><span>+996 550 550 550</span></li>
                     <li class="animated" data-animate="fadeInUp" data-delay=".3"><em class="fa fa-envelope"></em><span>zalkarcompany@gmail.com</span></li>
                  </ul>
               </div>
               <!-- .col  -->
               <div class="col-lg-5">
                  <form id="contact-form" class="form-message text-left" action="http://demo.themenio.com/ico/form/contact.php" method="post">
                     <div class="form-results"></div>
                     <div class="input-field animated" data-animate="fadeInUp" data-delay=".5"><input name="contact-name" type="text" class="input-line required"><label class="input-title">Имя</label></div>
                     <div class="input-field animated" data-animate="fadeInUp" data-delay=".6"><input name="contact-email" type="email" class="input-line required email"><label class="input-title">Номер телефона</label></div>
                     <input type="text" class="d-none" name="form-anti-honeypot" value="">
                     <div class="input-field animated" data-animate="fadeInUp" data-delay=".8"><button type="submit" class="btn">Отправить</button></div>
                  </form>
               </div>
               <!-- .col  -->
            </div>
            <!-- .row  -->
         </div>
         <!-- .container  -->
      </div>
      <!-- End Section --><!-- Start Section -->
      <div class="section section-bg-muscari section-muscari section-pad-sm footer-fix" id="partners">
         <div class="overlay-bars reverse">
            <div class="overlay-bar-1"></div>
            <div class="overlay-bar-2"></div>
            <div class="overlay-bar-3"></div>
            <div class="overlay-bar-4"></div>
            <div class="overlay-bar-5"></div>
            <div class="overlay-bar-6"></div>
            <div class="overlay-bar-7"></div>
         </div>
         <div class="gaps size-6x"></div>
         <div class="gaps size-6x"></div>
         <div class="gaps size-6x"></div>
         <div class="gaps size-5x"></div>
         <div class="container">
            <div class="row text-center">
               <div class="col-md-6 offset-md-3">
                  <div class="section-head">
                     <h6 class="section-title-sm  animated" data-animate="fadeInUp" data-delay="0">Партнеры</h6>
                  </div>
               </div>
            </div>
            <!-- .row  -->
            <div class="partner-list">
               <!-- .row  -->
               <div class="row text-center">
                  <div class="col-md-10 offset-md-1">
                     <div class="row">
                        
                        <!-- .col  -->
                        <div class="col-sm col-3">
                           
                           <div class="single-partner animated" data-animate="fadeInUp" data-delay=".8"><img src="images/kicb-logo.png" alt="partner"></div>
                        </div>
                        <div class="col-sm col-3">
                           
                           <div class="single-partner animated" data-animate="fadeInUp" data-delay=".8"><img src="images/demir-logo.png" alt="partner"></div>
                        </div>
                        <div class="col-sm col-3">
                           
                           <div class="single-partner animated" data-animate="fadeInUp" data-delay=".8"><img src="images/kicb-logo.png" alt="partner"></div>
                        </div>
                        <div class="col-sm col-3">
                           
                           <div class="single-partner animated" data-animate="fadeInUp" data-delay=".8"><img src="images/demir-logo.png" alt="partner"></div>
                        </div>
                        <!-- .col  -->
                     </div>
                     <!-- .row  -->
                  </div>
                  <!-- .col  -->
               </div>
               <!-- .row  -->
            </div>
            <!-- .partner-list  -->
            <div class="gaps size-3x"></div>
            <hr class="hr-line">
            <div class="gaps size-3x"></div>
            <div class="row">
               <div class="col-sm-6 col-xl-4 res-l-bttm">
                  <a class="footer-brand animated" data-animate="fadeInUp" data-delay="0" href=""><img style="height: 50px;" class="logo logo-light" alt="logo" src="images/logo-full-white.png" srcset="images/logo-full-white2x.png 2x"></a>
                  <ul class="social">
                     <li class="animated" data-animate="fadeInUp" data-delay=".1"><a href="#"><em class="fab fa-facebook-f"></em></a></li>
                     <li class="animated" data-animate="fadeInUp" data-delay=".2"><a href="#"><em class="fab fa-twitter"></em></a></li>
                     <li class="animated" data-animate="fadeInUp" data-delay=".3"><a href="#"><em class="fab fa-instagram"></em></a></li>
                     
                  </ul>
               </div>
               <!-- .col  -->
               <div class="col-sm-6 col-xl-4 res-l-bttm">
                  <div class="footer-subscription">
                     <h6 class="animated" data-animate="fadeInUp" data-delay=".6">ОФИС ПРОДАЖ
ул. Ахунбаева, 173а, офис 1 перес.ул.Табалдиева</h6>
                     
                  </div>
               </div>
               <!-- .col  -->
               <div class="col-xl-4">
                  ОФИС ПРОДАЖ
ул. Ахунбаева, 173а, офис 1 перес.ул.Табалдиева
               </div>
               <!-- .col  -->
            </div>
            <!-- .row  -->
            <div class=""></div>
            <div class="row">
               <div class="col-md-7"><span class="copyright-text">Copyright &copy; 2018, ЗАЛКАР СТРОЙ ИНЖИНИРИНГ.  </span></div>
               <!-- .col  -->
               <div class="col-md-5 text-right mobile-left">
                  <ul class="footer-links">
                      <li><a href="#" class="menu-link">Главная</a></li>
                     <li><a href="#" class="menu-link">О компании</a></li>
                     <li><a href="#" class="menu-link">Обьекты</a></li>
                     <li><a href="#" class="menu-link">Контакты</a></li>
                  </ul>
               </div>
               <!-- .col  -->
            </div>
            <!-- .row  -->
         </div>
         <!-- .container  -->
      </div>
      <!-- End Section --><!-- Preloader !remove please if you do not want -->
      <div id="preloader">
         <div id="loader"></div>
         <div class="loader-section loader-top"></div>
         <div class="loader-section loader-bottom"></div>
      </div>
      <!-- Preloader End --><!-- JavaScript (include all script here) --><script src="assets/js/jquery.bundlee222.js?ver=142"></script><script src="assets/js/scripte222.js?ver=142"></script>
   </body>
</html>