<!DOCTYPE html>
<html lang="zxx" class="js">
   <!-- Mirrored from demo.themenio.com/ico/blog-single-light.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 23 Oct 2018 09:59:21 GMT -->
   <head>
       <meta charset="utf-8">
      <meta name="author" content="Softnio">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta name="description" content="ОсОО «ZALKAR Строй Инжиниринг»
было создано 2010 году с целью внесения повсеместного вклада экономическое развитие Кыргызской Республики и инвестирования в экономику страны как коммерческая организация.">
      <!-- Fav Icon -->
      <link rel="shortcut icon" href="images/icon.png">
      <!-- Site Title  -->
      <title>ZALKAR СТРОЙ</title>
      <!-- Vendor Bundle CSS -->
      <link rel="stylesheet" href="assets/css/vendor.bundlee222.css?ver=142">
      <!-- Custom styles for this template -->
      <link rel="stylesheet" href="assets/css/stylee222.css?ver=142">
      <link rel="stylesheet" href="assets/css/custom.css">

      <link rel="stylesheet" href="assets/css/themee222.css?ver=142" id="layoutstyle">
   </head>
   <body class="theme-light" data-spy="scroll" data-target="#mainnav" data-offset="80">
      <!-- Header --> 
      <header class="site-header is-sticky">
         <!-- Navbar -->
         <div class="navbar navbar-expand-lg is-transparent" id="mainnav">
            <nav class="container">
               <a class="navbar-brand animated" data-animate="fadeInDown" data-delay=".65" href="index.html"><img class="logo logo-dark" alt="logo" src="images/logo.png" srcset="images/logo2x.png 2x"><img class="logo logo-light" alt="logo" src="images/logo-full-white.png" srcset="images/logo-full-white2x.png 2x"></a>
               
               <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle"><span class="navbar-toggler-icon"><span class="ti ti-align-justify"></span></span></button>
               <div class="collapse navbar-collapse justify-content-end" id="navbarToggle">
                  <ul class="navbar-nav animated remove-animation" data-animate="fadeInDown" data-delay=".9">
                     <li class="nav-item"><a class="nav-link menu-link" href="#">Главная<span class="sr-only">(current)</span></a></li>
                     <li class="nav-item"><a class="nav-link menu-link" href="#">О компании</a></li>
                     <li class="nav-item"><a class="nav-link menu-link" href="#">Обьекты</a></li>
                     <li class="nav-item"><a class="nav-link menu-link" href="#">Контакты</a></li>
                  </ul>
                 
               </div>
            </nav>
         </div>
         
         <!-- End Banner -->
      </header>
      <!-- End Header --><!-- Start Section -->
      <div class="section section-pad section-bg-muscari section-muscari" id="apps">
   <div class="overlay-bars">
      <div class="overlay-bar-1"></div>
      <div class="overlay-bar-2"></div>
      <div class="overlay-bar-3"></div>
      <div class="overlay-bar-4"></div>
      <div class="overlay-bar-5"></div>
      <div class="overlay-bar-6"></div>
      <div class="overlay-bar-7"></div>
   </div>
   <div class="container">
      <div class="row justify-content-center">
         <div class="col-lg-6">
            <div class="section-head-s5 text-center">
               <h2 class="section-title animated fadeInUp" data-animate="fadeInUp" data-delay=".0" style="visibility: visible; animation-delay: 0s;">ЖИЛОЙ ДОМ «ЗАЛКАР»</h2>
               
            </div>
         </div>
      </div>
      <div class="row align-items-center">
         <div class="col-md-6 res-m-btm">
            <div class="text-block">
               <p class="lead animated fadeInUp" data-animate="fadeInUp" data-delay=".0" style="visibility: visible; animation-delay: 0s;">Жилой дом «Залкар» – это квартиры различных планировочных решений, полностью укомплектованных по всем современным стандартам. При планировке дома, предусмотрена вся необходима инфраструктура.

Чистый воздух, тишина — неоспоримые удобства, которые наряду с современной жилой инфраструктурой сделают жизнь в комплексе комфортной и желанной.

Оптимальное соотношение цены и качества.
Уникальная инфраструктура и удобное расположение Вашего дома отвечает всем требованиям Вашего ритма жизни.</p>
              
               <ul class="animated fadeInUp" data-animate="fadeInUp" data-delay=".2" style="visibility: visible; animation-delay: 0.2s;">
                  <li>Класс: Комфорт</li>
                  <li>Этажность: 10</li>
                  <li>Техн-я строительства: ж/б монолит-кирпич</li>
                  <li>Высота потолков: 3 м</li>
                  <li>Цена за м²  от 51 000 сом</li>
                  <li>Завершение  1 квартал 2020 г</li>






               </ul>
               
            </div>
         </div>
         <!-- .col  -->
         <div class="col-md-6">
            <div class="animated fadeInUp" data-animate="fadeInUp" data-delay=".4" style="visibility: visible; animation-delay: 0.4s;"><img src="images/item2.jpg" alt="app"></div>
         </div>
         <!-- .col  -->
          <div class="custon-pad container">
            <div class="row text-center">
               <div class="col-md-4">
                  <div class="features-box animated" data-animate="fadeInUp" data-delay=".2">
                     <img src="images/elem1.png" alt="features">
                      <h5 style="color: #313c56;">1 комнатная квартира 45,3кв.м</h5>
                  </div>
               </div>
               <!-- .col  -->
               <div class="col-md-4">
                  <div class="features-box animated" data-animate="fadeInUp" data-delay=".3">
                     <img src="images/elem2.png" alt="features">
                      <h5 style="color: #313c56;">2х комнатная квартира 71,1кв.м</h5>
                  </div>
               </div>
               <!-- .col  -->
               <div class="col-md-4">
                  <div class="features-box animated" data-animate="fadeInUp" data-delay=".4">
                     <img src="images/elem3.png" alt="features">
                     <h5 style="color: #313c56;">3х комнатная квартира 143,2кв.м</h5>
                  </div>
               </div>
               <!-- .col  -->
            </div>
            <!-- .row  -->
            <!-- .row  -->
         </div>
      </div>




           
            <div class="section section-pad section-bg" id="team">
               <div class="row justify-content-center text-center">
                  <div class="col-sm-6 col-lg-3">
                     <div class="team-circle animated" data-animate="fadeInUp" data-delay=".3">
                        <div class="team-photo"><img src="images/i1.jpg" alt="" /><a href="#team-profile-1" class="expand-trigger content-popup"></a></div>
                        <!-- Start .team-profile  -->
                        <div id="team-profile-1" class="team-profile mfp-hide">
                           <button title="Close" type="button" class="mfp-close">×</button>
                           <div class="container-fluid">
                              <div class="row no-mg">
                                 <div class="col-md-8 margin-auto">
                                    <div class="team-profile-photo"><img src="images/i1.jpg" alt="" /></div>
                                 </div>
                              </div>
                              <!-- .row  -->
                           </div>
                           <!-- .container  -->
                        </div>
                        <!-- .team-profile  -->
                     </div>
                  </div>
                  
                  <div class="col-sm-6 col-lg-3">
                     <div class="team-circle animated" data-animate="fadeInUp" data-delay=".3">
                        <div class="team-photo"><img src="images/i3.jpg" alt="" /><a href="#team-profile-1" class="expand-trigger content-popup"></a></div>
                        <!-- Start .team-profile  -->
                        <div id="team-profile-1" class="team-profile mfp-hide">
                           <button title="Close" type="button" class="mfp-close">×</button>
                           <div class="container-fluid">
                              <div class="row no-mg">
                                 <div class="col-md-8 margin-auto">
                                    <div class="team-profile-photo"><img src="images/i3.jpg" alt="" /></div>
                                 </div>
                              </div>
                              <!-- .row  -->
                           </div>
                           <!-- .container  -->
                        </div>
                        <!-- .team-profile  -->
                     </div>
                  </div>
               </div>

         </div>


      <!-- .row  -->
   </div>
   <!-- .container  -->
</div>
      <!-- Start Section --><!-- Start Section -->
      <div class="section subscribe-section section-pad-md section-bg">
         <div class="container">
            <div class="row text-center">
               <div class="col-md-6 offset-md-3">
                  <h4 class="section-title-md">Don't miss out, Stay updated</h4>
                  <form id="subscribe-form" action="http://demo.themenio.com/ico/form/subscribe.php" method="post" class="subscription-form inline-form">
                     <input type="text" name="youremail" class="input-round required email" placeholder="Enter your email address" ><input type="text" class="d-none" name="form-anti-honeypot" value=""><button type="submit" class="btn btn-plane">Subscribe</button>
                     <div class="subscribe-results"></div>
                  </form>
               </div>
            </div>
         </div>
      </div>
      <!-- End Section --><!-- Start Section -->
      <div class="section footer-scetion no-pt section-pad-sm section-bg">
         <div class="container">
            <div class="row text-center">
               <div class="col-md-12">
                  <ul class="social">
                     <li><a href="#"><em class="fab fa-facebook-f"></em></a></li>
                     <li><a href="#"><em class="fab fa-twitter"></em></a></li>
                     <li><a href="#"><em class="fab fa-youtube"></em></a></li>
                     <li><a href="#"><em class="fab fa-github"></em></a></li>
                     <li><a href="#"><em class="fab fa-bitcoin"></em></a></li>
                     <li><a href="#"><em class="fab fa-medium-m"></em></a></li>
                  </ul>
                  <span class="copyright-text">Copyright &copy; 2018, ICO Crypto. Template Made By <a href="http://softnio.com/" target="_blank">Softnio</a> &amp; Handcrafted by iO.<span>All trademarks and copyrights belong to their respective owners.</span></span>
               </div>
            </div>
         </div>
      </div>
      <!-- End Section --><!-- Preloader !remove please if you do not want -->
      <div id="preloader">
         <div id="loader"></div>
         <div class="loader-section loader-top"></div>
         <div class="loader-section loader-bottom"></div>
      </div>
      <!-- Preloader End --><!-- JavaScript (include all script here) --><script src="assets/js/jquery.bundlee222.js?ver=142"></script><script src="assets/js/scripte222.js?ver=142"></script>
   </body>
   <!-- Mirrored from demo.themenio.com/ico/blog-single-light.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 23 Oct 2018 09:59:21 GMT -->
</html>