<%- include('./header.ejs', {path: '../'}); %>
</header>

   <img src="./images/back-friends.png">
   <div class="head-name">
      <div class="container" style="margin-bottom: 60px;">
       
   </div>
   </div>

   <div class="section section-pad section-bg-zinnia" id="partners">
    <div class="container" style="margin-top: 60px; margin-bottom: 60px;">
      <div class="row text-center">
         <div class="col">
            <div class="section-head">
               <h2 style="color: #3c3c3c;"class=" section-title animated fadeInUp" data-animate="fadeInUp" data-delay="0" style="visibility: visible;">

                  Старт продаж квартир
                  <span class="fancy">ZALKAR
                  </span>
               </h2>
            </div>
         </div>
      </div>
      <div style="color: #3c3c3c;">
         <span style="font-size: 18px; font-weight: 600">СК «Залкар Строй Инжинииринг» объявляет старт продаж квартир ЖК «ZALKAR» по ул.Ахунбаева-Душанбинского. О% рассрочка без переплат! Т: 0550-550-550
      </div>
    </div>
    
</div>

<%- include('./footer.ejs', {path: '../'}); %>